<div>
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
      
    <%= form.label :street %>
    <%= form.text_field :street, class: "form-control" %>

    <%= form.label :state %>
    <%= form.text_field :state , class: "form-control" %>

    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, class: "form-control" %>
</div>
<hr />